@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);
/*
BEACH THEME
* {
    --empty-spot: #d3c199;
    --navbar-0: #64a2ad;
    --navbar-1: #a2d5d8;
    --navbar-txt: azure;
}

SAVANHA
* {
    --empty-spot: #fe9f71;
    --navbar-0: #c2cf89;
    --navbar-1: #4f8d88;
    --navbar-txt: lightcyan;
}

TURQOISE
* {
    --empty-spot: steelblue;
    --navbar-0:  #05a9a7;
    --navbar-1: #41e0d0;
    --navbar-txt: azure;
}

*/
* {
    --empty-spot: #d3c199;
    --navbar-0: #64a2ad;
    --navbar-1: rgb(65, 224, 208, 0.6);
    --navbar-txt: azure;
}
body {
  overscroll-behavior: contain;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navTitle {
  margin: auto;
  padding: 1px;
  text-align: center;
  color: var(--navbar-txt);
  background: linear-gradient(to bottom, var(--navbar-0), var(--navbar-0), var(--navbar-1));
}

.grecaptcha-badge {
    top:0px !important;
}

.buttonContainer {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* justify-content: center; */
  background: linear-gradient(to bottom,  var(--navbar-1), var(--navbar-0), var(--navbar-0));
}

.buttonGrp {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.albumContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 75px;
}

.playersHeader {
  text-align: center;
  padding: 2px;
  background-color: steelblue;
  color: white;
}

.playersHeader i {
  margin-right: 8px;
}

.playerContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 75px;
}

.playerRowContainer {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 2fr);
  background-color: whitesmoke;
  color: darkslateblue;
}

.playerNameContainer {
  text-align: center;
  width: 100%;
  padding: 5px 0;
}

.playerStarsContainer {
  text-align: left;
  width: 58%;
  padding: 15px 5px;
}

.playerButtonContainer {
  text-align: center;
  width: 86%;
  padding: 5px 5px;
}

.playerRow {
  width: 100%;
  background-color: #d3c199;
  border: 1px solid bisque;
}


.questionOption {
    margin: 10px;
    padding: 15px 25px;
    background-color: darkcyan;
    border-radius: 25px;
    color: white;
}

.correct {
  color: green;
  font-weight: bold;
  background-color: yellowgreen;
}

.wrong {
  text-decoration: line-through;
}

.stickerSpot {
  width: 100%;
  background-color: #d3c199;
  border: 1px solid bisque;
}

.emptySpot {
  width: 100%;
  background-color: var(--empty-spot);
  border: 1px solid bisque;
  background-image: url("../public/questionMark.png");
  background-repeat: no-repeat;
  background-position: center;
}

.successIco {
    height: 66px;
}

.sticker {
  width: 100%;
  margin: 0 auto;
}

.stickerHint {
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
    filter: blur(3px)  grayscale(100%);
    -webkit-filter: blur(2px) grayscale(100%); /* Safari 6.0 - 9.0 */
}

.questionFrame {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.feedbackFrame {
    margin: 20px;
}

.feedbackContent {
    font-family: 'Itim', cursive;
    font-size: 20px;
    margin-right: 20px;
}

.feedbackMsg {
    font-family: 'Itim', cursive;
    font-size: 20px;
    padding-bottom: 35px;
}

@keyframes entrance {
  from { left: -200px;}
  to { left: 0;}
}

@keyframes appear {
  from { opacity: 0;}
  to {opacity: 1;}
}

@keyframes glowing {
  0% {
    background-color: #003e7b;
    box-shadow: 0 0 3px #003e7b;
  }
  50% {
    background-color: #1976d2;
    box-shadow: 0 0 10px #1976d2;
  }
  100% {
    background-color: #003e7b;
    box-shadow: 0 0 3px #1976d2;
  }
}

.introSplash {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 196px;
    background-repeat:   no-repeat;
    background-position: center center;
    background-image: url("../public/intro.png");
    animation-name: entrance ;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.introMsg {
    position: fixed;
    left: 98px;
    width: 240px;
    bottom: 228px;
    font-family: 'Itim', cursive;
    font-size: 20px;
    opacity: 0;
    animation-name: appear;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    line-height: 24px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.languageToggle {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre la bandera y el texto */
}

.flagIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* Ajusta la imagen al contenedor */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para un mejor efecto */
}

.successSplash {
    place-items: end;
    display: grid;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/smile.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.registrationForm
{
  max-width: 400px; /* Ajusta al tamaño deseado */
  margin: 0 auto; /* Centra el formulario */
  padding: 20px;
  background-color: #f9f9f9; /* Fondo suave */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  font-family: Arial, sans-serif;
}

.formHeader {
  text-align: center;
}

.formHeader h2 {
  margin: 10px;
  font-size: 1.2rem;
  color: #333;
}

.formHeader h3 {
  margin: 10px 0;
  font-size: 1.0  rem;
  color: #555;
}

.gameModeSelector {
  margin: 20px 0;
  text-align: center;
}

.playerNameField {
  margin: 20px 0;
}

.formActions {
  margin-top: 20px;
  text-align: center;
}

.successForm
{
    margin: 10px 10px;
    text-align: center;
}

.errorMessage {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
  text-align: left; /* Alineación opcional */
}

successSplash
.rewardMsg {
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: orangered;
}

#timer {
  font-family: 'Covered By Your Grace', cursive;
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

#timer span {
  display: block;
  font-size: 20px;
  color: black;
}

#seconds {
  font-size: 50px;
  color: darkcyan;
}

.completed {
    text-align: center;
    width: 100%;
    bottom: 50px;
    font-family: 'Covered By Your Grace', cursive;
    font-size: xx-large;
    color: darkorchid;
}

.glowingBtn {
    animation: glowing 1300ms infinite;
}

.albumDigest {
    font-size: x-large;
}
