@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

/*
BEACH THEME
* {
    --empty-spot: #d3c199;
    --navbar-0: #64a2ad;
    --navbar-1: #a2d5d8;
    --navbar-txt: azure;
}

SAVANHA
* {
    --empty-spot: #fe9f71;
    --navbar-0: #c2cf89;
    --navbar-1: #4f8d88;
    --navbar-txt: lightcyan;
}

TURQOISE
* {
    --empty-spot: steelblue;
    --navbar-0:  #05a9a7;
    --navbar-1: #41e0d0;
    --navbar-txt: azure;
}

*/
* {
    --empty-spot: #d3c199;
    --navbar-0: #64a2ad;
    --navbar-1: rgb(65, 224, 208, 0.6);
    --navbar-txt: azure;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navTitle {
  margin: auto;
  padding: 15px;
  text-align: center;
  color: var(--navbar-txt);
  background: linear-gradient(to bottom, var(--navbar-0), var(--navbar-0), var(--navbar-1));
}

.buttonContainer {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  padding: 5px;
  background: linear-gradient(to bottom,  var(--navbar-1), var(--navbar-0), var(--navbar-0));
}

.navBtn {
    height: 40px
}

.albumContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 75px;
}

.questionOption {
    margin: 10px;
    padding: 15px 25px;
    background-color: darkcyan;
    border-radius: 25px;
    color: white;
}

.correct {
  color: green;
  font-weight: bold;
  background-color: yellowgreen;
}

.wrong {
  text-decoration: line-through;
}

.stickerSpot {
  width: 100%;
  background-color: #d3c199;
  border: 1px solid bisque;
}

.emptySpot {
  width: 100%;
  background-color: var(--empty-spot);
  border: 1px solid bisque;
  background-image: url("../public/questionMark.png");
  background-repeat: no-repeat;
  background-position: center;
}

.successIco {
    height: 66px;
}

.sticker {
  width: 100%;
  margin: 0 auto;
}

.stickerHint {
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
    filter: blur(3px)  grayscale(100%);
    -webkit-filter: blur(2px) grayscale(100%); /* Safari 6.0 - 9.0 */
}

.questionFrame {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.feedbackMsg {
    margin-top: 20px
}

#timer {
  font-family: 'Covered By Your Grace', cursive;
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

#timer span {
  display: block;
  font-size: 20px;
  color: black;
}

#seconds {
  font-size: 50px;
  color: darkcyan;
}
